@import "fonts";

// html,
// body {
//   // background-color: $navy;
//   background-image: url('../img/waves-bw.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   height: 100%;
// }

// html {
//   &.no-touch {
//     background-attachment: fixed;
//   }
//   &.touch {
//     background-attachment: scroll;
//   }
// }

.section {

  background-image: url('../img/waves-bw.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;

  &.no-touch {
    background-attachment: fixed;
  }

  &.touch {
    background-attachment: scroll;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: transparent center no-repeat;
  // background-size: cover;
  overflow: hidden;
}

.vert-wrapper {
  transform-style: preserve-3d;
}

.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.section-wrapper {

  background-color: rgba($black, 1);
  transition: all 2s ease 2s;

  .fade & {
    background-color: rgba($black, 0.85);
  }

  height: 100%;

  .section-container {
    @extend .vert-center;
    text-align: center;
  }
}


.ui-elements {

  .service-wrap {
    position: relative;
    background-color: red;
  }

  .services {
    position: absolute;
    transition: transform 0.35s;

    &.top {
      top: 2%;
      transform: translate3d(0,20px,0);

      &:hover {
        transform: translate3d(0,0px,0);
      }
    }

    &.bottom {
      bottom: 2%;
      transform: translate3d(0,-20px,0);

      &:hover {
        transform: translate3d(0,0px,0);
      }
    }

    &.right {
      right: 3%;
    }

    &.left {
      left: 3%;
    }
  }
}

.nav {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;

  a {

    &:link, &:visited, &:active {
      font-family: $iceland;
      color: rgba($blue, 0);
      text-decoration: none;
      font-size: 1em;
      padding: 0.2em 0.5em;
      display: block;
      transition: all 4s ease 4s;

      .fade & {
        color: rgba($blue, 0.7);
      }
    }

    em {
      font-style: normal;
      display: block;
      line-height: 1;
      color: rgba($blue, 0);
      transition: all 4s ease 1s;

      .fade & {
        .touch & {
          transition: all 4s ease 5s;
          color: rgba($blue, .6);
        }
      }
    }

    &:hover {
      em {
        color: rgba($blue, .7);
        transition-delay: 0.05s;
        transition-duration: 0.35s;
      }
    }

    span {
      font-size: 3em;
    }
  }

  &.inline-list {
    // for testing different nav layouts
    display: none;
    position: absolute;
    bottom: 0;

    a {
      span {
        display: block;
      }
    }
  }

  .items {
    display: inline-block;
  }
}



.home {
  @extend .vert-wrapper;

  overflow: hidden;
  text-align: center;


  svg {
    width: 70%;
    opacity: 0;
    transition: all 2s ease 2s;

    g {
      line, path, circle {
        stroke: $blue;
        transition: all 4s ease 4s;

        .fade & {
          stroke: lighten($blue, 10%);
        }
      }
    }

    .fade & {
      opacity: 1;
      width: 80%;
    }
  }
}
